.carousel{
    position: relative

}
.arrowNext, .arrowPrev{
    position: absolute;
    width: 32px;
    height: auto;
    color:white;
    top: 45%;
    cursor: pointer;
}

.arrowNext{
    right: 5px;
}
.arrowPrev{
    left: 5px;
}
.carousel_image{
    width: 100%;
    height: 255px;
    border-radius: 5px;
    object-fit: cover;
}
.numCarousel{
    display: none;
}
@media screen and (min-width: 1024px) {
    .arrowNext, .arrowPrev{
        height: 80px;
        width: auto;
        top: 40%;
    }
    .carousel_image{
        height: 415px;
    }
    .numCarousel{
        display: block;
        position: absolute;
        font-size: 18px;
        color: black;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 20px;
        color: white;
    }
}