.header_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 145px;
    height: auto;
}
.nav_Container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.nav_Container a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
a.active{
    text-decoration: underline;
}
@media screen and (min-width: 1024px) {
    .logo{
        width: 210px;
    }
    .nav_Container a{
        font-size:24px;
    }

  }