.NFContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap:100px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.NFtitle{
    color: var(--main-elt-color);
    font-size: 96px;

}
.NFtxt{
    color: var(--main-elt-color);
    font-size: 18px;
    text-align: center;

}
.linkHome{
    font-size: 14px;
    color: black;

}
@media screen and (min-width: 1024px) {
    .NFtitle{
        font-size: 288px;
    }
    .NFtxt{
        font-size: 36px;
    }
    .linkHome{
        font-size: 18px;
    }
}